


.nav_cont{
    
    @include flex_cent_row;
    width: 100%;
    z-index: 1;
    background: white;

    @include small-laptop{
        position: fixed;
    }


    //HAMBURGER CONTAINER


    .hamburger_menu{

        
        display: none;

        @include large-laptop{
            display: block;
            margin-top: 5px;
            margin-left: 20px;
        }


        

        .line{
            display: block;
            width: 25px;;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background: black;

            @include med-laptop{
                position: relative;
                z-index: 4;
            }

        }

        


              
    }

    .hamburger_menu.active{

        .line{
            background: grey;
        }

        .line:nth-child(2){
            opacity: 0;
        }

        .line:nth-child(1){
            
            transform: translateY(8px) rotate(45deg);
        }

        .line:nth-child(3){
            transform: translateY(-8px) rotate(-45deg);

        }

    }


 }



    //COMPANY LOGO
    .nav_logo{

        display: flex;
        align-items: center; 
        margin: 0px 80px 5px 100px;

        @include large-laptop{

            margin: 0px 40px;
            padding: 0;

        }

        img{
            height: 30px;

            @include med-tablet{
                height: 25px
            }
        }

    }


    //DESKTOP / LAPTOP NAVBAR
    .nav_menu{
       
        
        @include flex_cent_row;


        @include large-laptop{
           position: fixed;
           left: -100%;
           top: 130px;
           gap: 0;
           flex-direction: column;
           width: 50%;
           text-align: center;
           transition: 0.3s;
           justify-content: flex-start;
        }

        @include med-laptop{
            top: 10px;
            z-index: 1;
            height: 100%;
            padding-top: 50px;

        }




        //NAV LIST-ITEMS
        .nav_item{

            list-style: none;
            margin: 0px 15px;

            @include large-laptop{
                margin: 16px 0px;
                justify-content: flex-start;
                display: flex;
                width: 100%;
            }

            @include small-laptop{
                top: 10px;
                z-index: 3;
                margin: 15px 0px;
    
            }

            //NAV ANCHORS
            a{
                text-decoration: none;
                color: black;
                font-family: 'Kumbh Sans', sans-serif;
                font-weight: 400;
                position: relative;
                padding: 0px 10px;

                @include large-laptop{
                    color: white;
                }
                
            }

            a:hover{

                @include large-laptop{
                    opacity: 0.8;
                }
            }

            a:after{
                content: '';
                position: absolute;
                background-color: hsl(26, 100%, 55%);
                height: 4px;
                width: 0;
                left: 0;
                bottom: -66px;
                transition: 0.3s;
                z-index: 2;

                @include large-laptop{
                    display: none;
                }
            }

            a:hover:after{
                content: '';
                width: 100%;
            }
        }

    }

    .nav_menu.active{
        left: 0;
        background: white;

        .nav_item{

            .nav_link{
                color: black;
                font-size: 20px;
                font-weight: 800;
            }
        }
    }



    .nav_right{

        display: flex;
        align-items: center;
        flex-direction: row;
        margin-left: auto;
        padding: 20px 70px;
       

        @include med-laptop{
            padding: 20px 0px;
        }

    .shopping_cart{


        @include med-tablet{
            margin: 0px 15px;
        }


        .cart{


            img{

                height: 35px;

                @include med-tablet{
                    height: 30px
                }
            }
    
        }

    }

    .profile_cont{
     
        margin: 0px 40px;

        @include med-tablet{
            margin: 0px 20px;
        }

        .avatar{

            img{
                border-radius: 100%;
                height: 60px;

                @include med-tablet{
                    height: 40px
                }
            }

        }

    
    }
}

.shopping_cart_dropdown{
    top: 110px;
    z-index: 2;
    right: 100px;
    background: white;
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 0px;
    border-radius: 10px;

    @include small-laptop{
        right: 0px;
        top: 100px;
    }

    @include large-tablet{
        top: 103px;
        right: 0px;

    }

    @include med-tablet{
        top: 90px;
        right: 10px;

    }

    .cart_title{

        h5{
            font-family: 'Kumbh Sans', sans-serif;
            font-weight: 600;
            font-size: 16px;
            margin: 20px 55px;
        }
    }

    .product_cont{
        display: flex;
        align-items: center;
        margin-top: 25px;

        @include small-laptop{
            display: flex;
            flex-direction: row;
        }
        img{

            height: 80px;
            border-radius: 7px;
            margin: 0px 20px;
        }

        .product_txt{
            display: flex;
            flex-direction: column;
            justify-content: center;

            a{

                text-decoration: none;
                color: black;
                font-family: 'Kumbh Sans', sans-serif;
                font-weight: 200;
                font-size: 16px;
                margin: 0px 20px;
                
    
            }


            .amount_txt{
                font-family: 'Kumbh Sans', sans-serif;
                font-weight: 200;
                font-size: 14px;
                margin: 10px 20px;
            }
        }
    }

    .product_cont:hover{
        opacity: 0.7;
    }
    .bin{
        img{
            height: 20px;
            position: relative;
            left: 430px;
            bottom: 65px;
        }
    }

    .checkout_btn{
        

        button{
            border: 0;
            padding: 15px 140px;
            border-radius: 10px;
            background:hsl(26, 100%, 55%);
            color: white;
            font-family: 'Kumbh Sans', sans-serif;
            font-weight: 800;
            font-size: 20px;
            text-align: center;
            cursor: pointer;
            margin: 0px 50px 30px 50px;
        }

        button:hover{
            opacity: 0.7;
        }
    }
}



.nav_cont:after{

    content: '';
    background-color: rgb(224, 220, 220);
    height: 2px;
    width: 90%;
    position: absolute;
    top: 127px;
    z-index: 1;

    @include large-laptop{
        display: none;
    }
    
}

